@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header{
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}

.header__buttons{

justify-content: right;
    
    &--home{
        margin: 1rem;
        width: 5rem;
        border-radius: 0.3rem;
    }
    &--about{
        margin: 1rem;
        width: 5rem;
        border-radius: 0.3rem;
    }
    &--contact{
        margin: 1rem;
        width: 5rem;
        border-radius: 0.3rem;
    }
    &--locations{
        margin: 1rem;
        width: 5rem;
        border-radius: 0.3rem;
    }
}

.header__name--title{
    margin-left: 2rem;
    color: white;
    width: 20rem;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

